{{#extends 'base'}}

{{#block 'content'}}
{{#if error_messages}}
    <div class="alert alert-danger">
        {{error_messages}}
    </div>
{{/if}}


<div id="login-form-div">
    <div id="login-form">
        <div id="login-form-brand-logo-div">
            <img class="form-brand-logo" src="/images/vendor-logo.png"/>
        </div>
        <div>
            <form method="POST">
                <input type="hidden" name="_csrf" value="{{csrfToken}}"/>
                {{{form}}}
                <input id="login-btn" type="submit" class="btn btn-primary" value="Login" />
            </form>
        </div>
        <div id="sign-up-prompt-div">
            <span id="sign-up-prompt">Don't have an account?</span>
        </div>
        <div id="sign-up-btn-div">
            <a id="sign-up-btn"class="btn btn-secondary" href="/sign-up">Sign Up</a>
        </div> 
    </div>
</div>

{{/block}}


{{/extends}}