{{#extends 'base'}}

{{#block 'content'}}
<h1>You can sign up here!</h1>
<form method="POST">
    {{{form}}}
    <input type="submit" class="btn btn-primary" value="Register" />
</form>

{{/block}}


{{/extends}}