{{#extends 'base'}}

{{#block 'content'}}

<div id="sign-up-form-div">
    <div id="sign-up-form">
        <form method="POST">
            <input type="hidden" name="_csrf" value="{{csrfToken}}"/>
            {{{form}}}
            <input type="submit" class="btn btn-primary" value="Register" />
        </form>
    </div>
</div>
{{/block}}


{{/extends}}