
/* vendor navbar */
.vendor-nav-bar-items {
    justify-content: end;
}


/* preview card */
#product_description {
    height: 80px;
    white-space: initial;
    overflow: hidden;
    text-overflow: ellipsis
}


/* start of add-new-products */
#preview-card-div {
    display: flex;
    justify-content: center;
}

#preview-card-title-div {
    display: flex;
    justify-content: center;
}

#add-product-form-div {
    margin: 20px;
}



