/* body {
    background-image: url("../images/banner-image.jpg");
    background-repeat: no-repeat;
} */



/* start of vendor navbar */
.vendor-nav-bar-items {
    justify-content: end;
}

.brand-logo {
    height: 25px
}

/* end of vendor navbar */


/* start of Dashboard Page */
#loading-icon-div{
    position: absolute;
    top: 40%;
    left: 45%
}
#loading-icon {
    width: 50px;
    height: 50px;
}
/* end of Dashboard Page */


/* start of ProductListings Tab */
.no-products-prompt {
    text-align: center;
}
/* end of ProductListings Tab */




/* start of AddNewProduct Tab */

/* preview card */
#preview-card {
    border-radius: 10px;
    box-shadow: 0px 3px 20px rgba(0,0,0,0.2);
}

.card-image-div {
    height: 200px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    border-radius: 10px 10px 0 0;
    border: 1px solid rgba(156, 139, 139, 0.829);
}

.card-image {
    height: 100%;
}

#product_description {
    height: 80px;
    white-space: initial;
    overflow: hidden;
    text-overflow: ellipsis
}
/* end of card preview */


#preview-card-div {
    display: flex;
    justify-content: center;
}

#preview-card-title-div {
    display: flex;
    justify-content: center;
}

.add-products-div {
    margin: 20px;
    padding: 20px;
}

.submit-form-btn-div {
    display: flex;
    justify-content: center;
}

#add-product-submit-btn {
    background-color: green;
    font-weight: 500;
}

/* end of AddNewProduct Tab */


/* start of UpdateProduct */
#update-product-submit-btn {
    background-color: yellow;
    color: black;
    font-weight: 500;
}

/* End of UpdateProduct */




/* start of Login Page */
#login-form-div {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

#login-form {
    width: 45%;
    height: auto;
    background-color: white;
    padding: 30px;
    border: 1px solid #e1e3e7;
    border-radius: 10px;
    box-shadow:0 4px 20px rgba(0, 0, 0, 0.04);
}

#login-form-brand-logo-div {
    display: flex;
    justify-content: center;
    margin: 20px 0px 20px 0px;
}

#login-form-brand-logo-div {
    display: flex;
    justify-content: center;
    margin: 20px 0px 20px 0px;
}

.form-brand-logo {
    height: 60px;
    border-radius: 50%;
    border: 5px solid #20202049;
}

.form-group {
    margin-bottom: 10px;
}

#login-btn {
    width: 100%;
    background: #1877f2;
    margin-bottom: 40px;
}

#login-prompt-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* end of Login Page */

/* start of Signup Page */
#sign-up-prompt-div {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

#sign-up-btn-div {
    display: flex;
    justify-content: center;
}

#sign-up-btn {
    width: 60%;
    background: #42b72a;
}

#sign-up-form-div {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

#sign-up-form {
    width: 45%;
    height: auto;
    background-color: white;
    padding: 30px;
    border: 1px solid #e1e3e7;
    border-radius: 10px;
    box-shadow:0 4px 20px rgba(0, 0, 0, 0.04);
}

/* end of Sign Up Page */


/* For the table cell texts */
/* https://stackoverflow.com/questions/9789723/css-text-overflow-in-a-table-cell */