

{{#extends 'base'}}

{{#block 'content'}}

    {{!-- start of tabs --}}
        <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/products" onclick="">Product Listings</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/products/add">Add New Product</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/products/manage-sessions">Sessions</a>
        </li>
        </ul>
    {{!-- end of tabs --}}

{{/block}}

{{/extends}}


