{{#extends 'base'}}



{{#block 'content'}}

{{!-- start of tabs --}}
        <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/products" onclick="">Product Listings</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/products/add">Add New Product</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/products/manage-sessions">Manage Sessions</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/products/manage-sessions">Manage Orders</a>
        </li>
        </ul>
{{!-- end of tabs --}}



<table class="table">
    <thead>
        <tr>
            <th>Username</th>
            <th>Contact Info</th>
            <th>Order Status</th>
            <th>Order Item Quantity</th>
        </tr>
    </thead>
    <tbody>
        {{#each orders}}

        <tr>
            <td>{{order.user.username}}</td>
            <td>{{order.user.email}}</td>
            <td>{{order_item_status}}</td>
            <td>{{order_item_quantity}}</td>
        </tr>

        {{/each}}
    </tbody>
</table>

{{/block}}



{{/extends}}