{{#extends 'base'}}

{{#block 'content'}}
<h1>Add New Product</h1>
<a href="/products" class="btn btn-sm btn-danger">Back</a>
<h2>{{product.product_name}}</h2>
<form method="POST">
    
    {{{form}}}
    <input type="submit" value= "Update" class="btn btn-primary"/>
</form>
{{/block}}


{{/extends}}